body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a, a:visited {
    text-decoration: none;
    color: #336699;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    flex: 0 0 33.333333%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.header {
    max-width: 660px;
    margin: 0 auto;
    padding: 14px 0 24px 0;
    text-shadow: 1px 1px #ccc;
}

.profile-img {
    margin-top: 12px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.header-right {
    margin: 10px auto 10px auto;
}

.name {
    font-size: 28px;
    margin: 0;
}

.description {
    margin-top: 10px;
    border-top: solid 1px #666;
    font-weight: bold;
    padding-top: 8px;
}

.position {
    font-size: 16pt;
}

.contact {
    display: flex;
    flex-flow: column wrap;
}

.contact a {
    margin-bottom: 5px;
}

.contact a:last-child {
    margin-bottom: 0;
    cursor: default
}

@media screen and (max-width: 640px) {
    .header-name {
        text-align: center;
    }
}

.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}